<script type="text/javascript">

	$().ready(function() {
		
		var canvas = $("#canvas");
		var ctx = canvas[0].getContext("2d");
		
		var left = 0;
		var top = 0;
		
		var isDown = false;
		
		canvas.mousemove(function(e) {
			if ( isControlMe == false ) {
				return;
			}
			
			left = e.offsetX;
			top = e.offsetY;
			
			if ( isDown == true ) {
				ctx.lineTo(left, top);
				ctx.stroke();
				
				sendDraw("DRAW", left, top);
			}
		});
		
		canvas.mouseleave(function(e) {
			if ( isControlMe == false ) {
				return;
			}
			isDown = false;
		});
		
		canvas.mousedown(function(e) {
			
			if ( isControlMe == false ) {
				return;
			}
			
			isDown = true;
			ctx.beginPath();
			ctx.moveTo(left, top);
			ctx.strokeStyle = $("#color").val();
			ctx.lineWidth = $("#size").val();
			sendDraw("START-DRAW", left, top, $("#color").val(), $("#size").val());
		});
		
		canvas.mouseup(function() {
			
			if ( isControlMe == false ) {
				return;
			}
			
			isDown = false;
		});
		
		$("#clear").click(function() {
			
			if ( isControlMe == false ) {
				return;
			}
			
			ctx.fillStyle = "#FFFFFF";
			ctx.fillRect(0, 0, 500, 500);
			
			sendClearCanvas();
		});
		
	});
	
	
</script>
<div>
	<div style="position: relative; width: 500px; height: 500px;">
		<canvas id="canvas" width="500" height="500" style="border: 1px solid #333; position: absolute;"></canvas>
		<div style="position: absolute; right: 0; top: 0;">
			<input type="text" id="quiz" >
			<span id="gamer"></span>
			<span id="timer" style="display:none;">
				<span id="min">0</span>:<span id="sec">10</span>
			</span>
		</div>
	</div>
</div>
<div>
	<input type="color" id="color"/>
	<select id="size">
		<option value="1">가늘게</option>
		<option value="3" selected="selected">보통</option>
		<option value="9">굵게</option>
	</select>
	<input type="button" id="clear" value="지우기" />
</div>